.custom-card {
  margin: 1rem;
  padding: 1rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.table-container {
  margin-top: 40px;
  overflow-x: auto;
}

.responsive-table {
  width: 100%;
  border: 1px solid #eee;
  padding: 0;
  margin: 0;

  th {
    background: #fafafa;
    color: #424242;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid #eee;
  }

  tr {
    background: white;
  }

  td {
    color: #272727;
    border-bottom: 1px solid #eee;
    padding: 12px 16px;
  }
}

.paginator {
  margin-top: 17px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.no-data {
  background: #fafafa;
  padding: 24px;
  border: 1px solid #e6e6e6;
  margin-top: 40px;
  p {
    font-size: 13.6px;
    color: black;
    line-height: 1.9;
    text-align: left;
    white-space: pre-line;
  }
}

.export-btn {
  margin-left: auto;
  background: #1f6e44;
  color: white;
  .mat-mdc-progress-spinner {
    width: 20px !important;
    height: 20px !important;
  }
}
